body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:540px;
  background:inherit;
  background-color:rgba(10, 22, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:540px;
}
#u137 {
  position:absolute;
  left:2px;
  top:262px;
  width:1276px;
  word-wrap:break-word;
}
#u136_ann {
  position:absolute;
  left:1273px;
  top:-4px;
  width:1px;
  height:1px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:175px;
  background:inherit;
  background-color:rgba(10, 22, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(13, 158, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u139 {
  position:absolute;
  left:145px;
  top:205px;
  width:140px;
  height:175px;
  color:#FFFFFF;
}
#u140 {
  position:absolute;
  left:2px;
  top:80px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:182px;
  top:217px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u145 {
  position:absolute;
  left:182px;
  top:250px;
  width:85px;
  height:17px;
  color:#FFFFFF;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u148 {
  position:absolute;
  left:182px;
  top:283px;
  width:85px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:182px;
  top:316px;
  width:85px;
  height:17px;
  color:#FFFFFF;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u154 {
  position:absolute;
  left:183px;
  top:348px;
  width:85px;
  height:17px;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u156_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:39px;
}
#u156 {
  position:absolute;
  left:282px;
  top:275px;
  width:2px;
  height:36px;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u158 {
  position:absolute;
  left:155px;
  top:284px;
  width:13px;
  height:13px;
  color:#FFFFFF;
}
#u159 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(10, 22, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u161 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u163 {
  position:absolute;
  left:25px;
  top:22px;
  width:35px;
  height:36px;
}
#u164 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u165 {
  position:absolute;
  left:78px;
  top:28px;
  width:261px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u168 {
  position:absolute;
  left:1180px;
  top:32px;
  width:20px;
  height:20px;
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u170 {
  position:absolute;
  left:1206px;
  top:34px;
  width:43px;
  height:17px;
  color:#FFFFFF;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u172 {
  position:absolute;
  left:1258px;
  top:41px;
  width:10px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u172_img.mouseOver {
}
#u172.mouseOver {
}
#u173 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(13, 158, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u175 {
  position:absolute;
  left:1154px;
  top:65px;
  width:122px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u176 {
  position:absolute;
  left:2px;
  top:52px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u178 {
  position:absolute;
  left:1176px;
  top:80px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:1176px;
  top:115px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:1176px;
  top:150px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u187 {
  position:absolute;
  left:0px;
  top:540px;
  width:1280px;
  height:60px;
  color:#000000;
}
#u188 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u189 {
  position:absolute;
  left:450px;
  top:563px;
  width:392px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  white-space:nowrap;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u191 {
  position:absolute;
  left:492px;
  top:32px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
}
#u193 {
  position:absolute;
  left:584px;
  top:32px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u195 {
  position:absolute;
  left:732px;
  top:32px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u197 {
  position:absolute;
  left:425px;
  top:220px;
  width:55px;
  height:55px;
}
#u198 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u199 {
  position:absolute;
  left:417px;
  top:285px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:24px;
}
#u201 {
  position:absolute;
  left:445px;
  top:236px;
  width:16px;
  height:24px;
}
#u202 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u203 {
  position:absolute;
  left:550px;
  top:220px;
  width:55px;
  height:55px;
}
#u204 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u205 {
  position:absolute;
  left:541px;
  top:285px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u207 {
  position:absolute;
  left:675px;
  top:220px;
  width:55px;
  height:55px;
}
#u208 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u209 {
  position:absolute;
  left:666px;
  top:285px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u211 {
  position:absolute;
  left:800px;
  top:220px;
  width:55px;
  height:55px;
}
#u212 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u213 {
  position:absolute;
  left:791px;
  top:285px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u215 {
  position:absolute;
  left:564px;
  top:236px;
  width:27px;
  height:24px;
}
#u216 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u217 {
  position:absolute;
  left:691px;
  top:239px;
  width:24px;
  height:18px;
}
#u218 {
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u219 {
  position:absolute;
  left:814px;
  top:239px;
  width:27px;
  height:18px;
}
#u220 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u222_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:35px;
  height:9px;
}
#u222 {
  position:absolute;
  left:168px;
  top:316px;
  width:30px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
  color:#1E1E1E;
}
#u223 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:33px;
  height:9px;
}
#u224 {
  position:absolute;
  left:170px;
  top:299px;
  width:28px;
  height:4px;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  color:#1E1E1E;
}
#u225 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u227_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:35px;
  height:9px;
}
#u227 {
  position:absolute;
  left:1043px;
  top:300px;
  width:30px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
  color:#1E1E1E;
}
#u228 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:33px;
  height:9px;
}
#u229 {
  position:absolute;
  left:1045px;
  top:317px;
  width:28px;
  height:4px;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  color:#1E1E1E;
}
#u230 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
