body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:540px;
  background:inherit;
  background-color:rgba(10, 22, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:540px;
}
#u232 {
  position:absolute;
  left:2px;
  top:262px;
  width:1276px;
  word-wrap:break-word;
}
#u231_ann {
  position:absolute;
  left:1273px;
  top:-4px;
  width:1px;
  height:1px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:175px;
  background:inherit;
  background-color:rgba(10, 22, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(13, 158, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u234 {
  position:absolute;
  left:145px;
  top:205px;
  width:140px;
  height:175px;
  color:#FFFFFF;
}
#u235 {
  position:absolute;
  left:2px;
  top:80px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u237 {
  position:absolute;
  left:182px;
  top:217px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u240 {
  position:absolute;
  left:182px;
  top:250px;
  width:85px;
  height:17px;
  color:#FFFFFF;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u243 {
  position:absolute;
  left:182px;
  top:283px;
  width:85px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u246 {
  position:absolute;
  left:182px;
  top:316px;
  width:85px;
  height:17px;
  color:#FFFFFF;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u249 {
  position:absolute;
  left:183px;
  top:348px;
  width:85px;
  height:17px;
  color:#FFFFFF;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u251_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:39px;
}
#u251 {
  position:absolute;
  left:282px;
  top:275px;
  width:2px;
  height:36px;
  color:#FFFFFF;
}
#u252 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u253 {
  position:absolute;
  left:155px;
  top:284px;
  width:13px;
  height:13px;
  color:#FFFFFF;
}
#u254 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(10, 22, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u256 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u258 {
  position:absolute;
  left:25px;
  top:22px;
  width:35px;
  height:36px;
}
#u259 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u260 {
  position:absolute;
  left:78px;
  top:28px;
  width:261px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u263 {
  position:absolute;
  left:1180px;
  top:32px;
  width:20px;
  height:20px;
}
#u264 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u265 {
  position:absolute;
  left:1206px;
  top:34px;
  width:43px;
  height:17px;
  color:#FFFFFF;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u267 {
  position:absolute;
  left:1258px;
  top:41px;
  width:10px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:14px;
}
#u267_img.mouseOver {
}
#u267.mouseOver {
}
#u268 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(13, 158, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u270 {
  position:absolute;
  left:1154px;
  top:65px;
  width:122px;
  height:120px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u271 {
  position:absolute;
  left:2px;
  top:52px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u273 {
  position:absolute;
  left:1176px;
  top:80px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u276 {
  position:absolute;
  left:1176px;
  top:115px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u279 {
  position:absolute;
  left:1176px;
  top:150px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u282 {
  position:absolute;
  left:0px;
  top:540px;
  width:1280px;
  height:60px;
  color:#000000;
}
#u283 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u284 {
  position:absolute;
  left:450px;
  top:563px;
  width:392px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  white-space:nowrap;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u286 {
  position:absolute;
  left:492px;
  top:32px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u288 {
  position:absolute;
  left:584px;
  top:32px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
}
#u290 {
  position:absolute;
  left:732px;
  top:32px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u292 {
  position:absolute;
  left:474px;
  top:220px;
  width:55px;
  height:55px;
}
#u293 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u294 {
  position:absolute;
  left:477px;
  top:285px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u296 {
  position:absolute;
  left:599px;
  top:220px;
  width:55px;
  height:55px;
}
#u297 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u298 {
  position:absolute;
  left:603px;
  top:285px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u300 {
  position:absolute;
  left:724px;
  top:220px;
  width:55px;
  height:55px;
}
#u301 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u302 {
  position:absolute;
  left:727px;
  top:285px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u303 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u304 {
  position:absolute;
  left:488px;
  top:236px;
  width:27px;
  height:24px;
}
#u305 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u306 {
  position:absolute;
  left:615px;
  top:239px;
  width:24px;
  height:18px;
}
#u307 {
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u308 {
  position:absolute;
  left:738px;
  top:239px;
  width:27px;
  height:18px;
}
#u309 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u311_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:35px;
  height:9px;
}
#u311 {
  position:absolute;
  left:168px;
  top:316px;
  width:30px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
  color:#1E1E1E;
}
#u312 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:33px;
  height:9px;
}
#u313 {
  position:absolute;
  left:170px;
  top:299px;
  width:28px;
  height:4px;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  color:#1E1E1E;
}
#u314 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:35px;
  height:9px;
}
#u316 {
  position:absolute;
  left:1043px;
  top:300px;
  width:30px;
  height:4px;
  -webkit-transform:rotate(40deg);
  -moz-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);
  color:#1E1E1E;
}
#u317 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:33px;
  height:9px;
}
#u318 {
  position:absolute;
  left:1045px;
  top:317px;
  width:28px;
  height:4px;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  color:#1E1E1E;
}
#u319 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
